@import "./../Variables.scss";

.Authentication {
    padding: 15px;
    margin-top: 50px;

    &__Header {
        font-size: 32px;
        margin-bottom: 0;
    }

    &__Description {
        font-size: 12px;
    }

    &__Form {
        width: 300px;
        font-size: 18px;

        &__Button {
            text-transform: uppercase;
            margin-top: 10px;
            font-size: 16px;
            line-height: 24px;
            padding: 4px 16px;
            height: 40px;
            background: $button-color;
            border: 0;
            color: white;
            width: 100%;
            &:hover, &:focus {
                background-color: $button-color-onhover;
            }
        }

        &__Row {
            margin-bottom: 0;
        }

        &__TextBox {
            margin-bottom: 0;

            .ant-input {
                font-size: 12px;
            }
        }

    }
}
